header {
  background-color: #1db954; /* Spotify-inspired green */
  color: #ffffff;           /* White text */
	width: 100%;
}

.nav-link {
  color: #ffffff;           /* White links */
  font-weight: bold;        /* Bold links */
  margin: 0 10px;           /* Space between links */
}

.nav-link:hover {
  text-decoration: underline;
  color: #f3f3f3;           /* Slightly lighter hover color */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
